NODE_ENV=development

DATABASE_URL=
REDIS_URL=

API_PORT=4000
JWT_SECRET=
JWT_EXPIRATION=7d

SEPOLIA_RPC_URL=
PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=
VALIDATOR_PRIVATE_KEY=
ETHERSCAN_API_KEY=

NEW_ADDRESS=
DEPLOYER_ADDRESS=

AVATAR_BASE_ADDRESS=
AVATAR_WALLET_LINK_ADDRESS=
TIME_CAPSULE_ADDRESS=
DIGITAL_LEGACY_ADDRESS=

CONTRACT_ADDRESS=
SGL_TOKEN_ADDRESS=

FEE_MANAGER_ADDRESS=
STAKING_POOL_ADDRESS=
ESCROW_CONTRACT_ADDRESS=

VALIDATE_REGISTRY_ADDRESS=
PARTICIPANT_REGISTRY_ADDRESS=
EVIDENCE_ANCHOR_ADDRESS=

AUDIT_SGL_URL=https://auditsgl.online/api
AUDIT_SGL_API_KEY=
